compose.production.yml
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.env
data
compose.prod.yml
# ui - Reactjs
ui/node_modules
ui/.env
ui/.env.production
ui/build
ui/package-lock.json

# chat-api - Spring Boot
chat-api/HELP.md
chat-api/target/
chat-api/!.mvn/wrapper/maven-wrapper.jar
chat-api/!**/src/main/**/target/
chat-api/!**/src/test/**/target/

### STS ###
chat-api/.apt_generated
chat-api/.classpath
chat-api/.factorypath
chat-api/.project
chat-api/.settings
chat-api/.springBeans
chat-api/.sts4-cache

### IntelliJ IDEA ###
chat-api/.idea
chat-api/*.iws
chat-api/*.iml
chat-api/*.ipr

# chat-server Spring Boot
chat-server/HELP.md
chat-server/target/
chat-server/!.mvn/wrapper/maven-wrapper.jar
chat-server/!**/src/main/**/target/
chat-server/!**/src/test/**/target/

### STS ###
chat-server/.apt_generated
chat-server/.classpath
chat-server/.factorypath
chat-server/.project
chat-server/.settings
chat-server/.springBeans
chat-server/.sts4-cache

### IntelliJ IDEA ###
chat-server/.idea
chat-server/*.iws
chat-server/*.iml
chat-server/*.ipr



# discovery-server Spring Boot
discovery-server/HELP.md
/discovery-server/target/
discovery-server/!.mvn/wrapper/maven-wrapper.jar
discovery-server/!**/src/main/**/target/
discovery-server/!**/src/test/**/target/

### STS ###
discovery-server/.apt_generated
discovery-server/.classpath
discovery-server/.factorypath
discovery-server/.project
discovery-server/.settings
discovery-server/.springBeans
discovery-server/.sts4-cache

### IntelliJ IDEA ###
discovery-server/.idea
discovery-server/*.iws
discovery-server/*.iml
discovery-server/*.ipr


# presence-server Spring Boot
presence-server/HELP.md
presence-server/target/
presence-server/!.mvn/wrapper/maven-wrapper.jar
presence-server/!**/src/main/**/target/
presence-server/!**/src/test/**/target/

### STS ###
presence-server/.apt_generated
presence-server/.classpath
presence-server/.factorypath
presence-server/.project
presence-server/.settings
presence-server/.springBeans
presence-server/.sts4-cache

### IntelliJ IDEA ###
presence-server/.idea
presence-server/*.iws
presence-server/*.iml
presence-server/*.ipr

storage-server
/.DS_Store
/.idea/